<div class="admin-home-container">
    <header>
      <h1>Admin Dashboard</h1>
      <nav class="navbar">
        <button class="nav-btn" routerLink="/admin-home/view-users">View Users</button>
        <button class="nav-btn" routerLink="/admin-home/add-restaurants">Add Restaurants</button>
        <button class="nav-btn" routerLink="/admin-home/list-orders">List of Orders</button>
      </nav>
    </header>
  
    <section>
      <router-outlet></router-outlet> <!-- Placeholder for child components -->
    </section>
  </div>